{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}
Home {{ user.username }} | Poll
{% endblock %}

{% block content %}

<div id="home">
<h1>My Polls</h1>

<div id="polls">
{% for poll in polls %}
  <div class="poll">
  	<div class="voted-check">
     {% for vote in user_votes %}{% if vote.user == request.user and vote.poll == poll and vote.total > 0 %}{% if vote.total > 1 %}{% endif %}<i class="fa fa-check" style="font-size:24px"></i><span class="voted-text">voted</span>{% endif %}{% endfor %}</div>
    <div class="title {% for vote in user_votes %}{% if vote.user == request.user and vote.poll == poll %}{% if vote.total > 1 %}{% endif %}voted{% endif %}{% endfor %}"><h4 class="name">{{ poll.name }}</h4></div>
    <p class="question">{{ poll.question }}</p><br>
    <a class="small-btn vote" href="{{ poll.get_absolute_url }}">Vote</a>
    <a href="{% url 'chart' poll.id poll.slug %}" class="small-btn">See results</a>
    </div>
  <br>
{% endfor %}
</div>

</div>

{% endblock %}